<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/head.ejs %>
        <title>People's</title>
        <script src="javascript/global.js"></script>
        <script src="javascript/exerciser.js"></script>
        <style>
                .about {
                    font-size: 17px;
                    color: white;
                    background-color: rgb(0, 0, 0);
                }
                /* TABLE */
                table {
                    border-collapse: collapse;
                    border-spacing: 0;
                    width: 100%;
                    border: 5px solid rgba(0, 0, 0, 0.671);
                }

                th, td {
                    text-align: left;
                    padding: 8px;
                }



                tr:nth-child(even){background-color: #f2f2f2}

                tr:hover{
                    background-color: red;
                }
        </style>
    </head>
    <body>
        <% include ../partials/loader.ejs %>
        <% include ../partials/headSection.ejs %>
            <div style="overflow-x:auto;">
                <table>
                    <tr>
                        <th>ชื่อ</th>
                        <th>นามสกุล</th>
                        <th>เพศ</th>
                        <th>ค่า BMI</th>
                        <th>สถานะ</th>
                    </tr>
                    <% users.forEach((data) => { %>
                        <tr onclick="inspectProfile('<%= data.id %>')">
                            <td><%= data.firstName %></td>
                            <td><%= data.lastName %></td>
                            <td><%= data.gender %></td>
                            <td>
                                
                                <% if(data.bmi === undefined){ %>
                                    ยังไม่ได้วัดค่า
                                <% } else{ %>
                                    <%= data.bmi %>
                                <% } %>
                            
                            </td>

                            <td>
                                <% if (data.bmi < 18.5) { %>
                                    น้ำหนักน้อย / ผอม
                                <% } else if ( data.bmi > 18.5 && data.bmi < 25){ %>
                                    ปกติ (สุขภาพดี)
                                <% } else if (data.bmi > 25) { %>
                                    น้ำหนักเกิน / อ้วน
                                <% } else {%>
                                    ไม่สามารถระบุได้
                                <% } %>
                            </td>
                        </tr>
                    <% }) %>
                </table>
            </div>
    </body>
</html>